/* Write your code here. */
.emoji-card-container {
  background-color: #ffffff33;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 3px solid #ffffff30;
  border-radius: 25px;
  width: 180px;
  height: 180px;
  margin-right: 10px;
  margin-bottom: 10px;
  padding: 5px;
}

.emoji-button {
  width: 180x;
  height: 180px;
  background-color: transparent;
  border-style: none;
  outline: none;
  cursor: pointer;
}

.emoji {
  width: 90px;
  height: 90px;
}

@media screen and (max-width: 576px) {
}
