/* Write your code here. */
.navbar-background {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding-left: 10%;
  padding-right: 10%;
  background-image: linear-gradient(to right, #9796f0, #ffffff33);
  width: 100vw;
  height: 80px;
}

.navbar-image {
  width: 40px;
  height: 40px;
  color: white;
}

.navbar-heading {
  font-size: 22px;
  color: white;
  margin-right: auto;
}

.score {
  font-size: 22px;
  /* color: white; */
  align-self: flex-end;
  margin-right: 20px;
}

@media screen and (max-width: 576px) {
  .navbar-background {
    height: 50px;
    margin-bottom: 70px;
  }
  .navbar-image {
    width: 20px;
    height: 20px;
  }
  .navbar-heading {
    font-size: 14px;
  }
  .score {
    font-size: 14px;
    align-self: center;
  }
}
